.u-center-text {
    text-align: center !important;
}

.u-margin-botton-big {
    margin-bottom: calc(8rem * 5/8) !important;
}

.u-margin-botton-medium {
    margin-bottom: calc(4rem * 5/8) !important;
}

.u-margin-bottom-small {
    margin-bottom: calc(1.5rem * 5/8) !important;
}

.u-margin-top-big {
    margin-top: calc(8rem * 5/8) !important;
}

.u-margin-top-huge {
    margin-top: calc(10rem * 5/8) !important;
}
