<ion-header>
  <ion-toolbar>
    <ion-title>Stylish Overlapping Cards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-list1">
    <div class="card1">
      <div class="card1__header">
        <div class="card1__header-date">May 25th 2020</div>
        <div class="card1__header-text">
          Card tricks are fun! Hi Hazel Card tricks are fun! Hi Hazel Card
          tricks are fun! Hi Hazel Card tricks are fun! Hi Hazel Card tricks are
          fun! Hi Hazel Card tricks are fun! Hi Hazel Card tricks are fun! Hi
          Hazel Card tricks are fun! Hi Hazel
        </div>
      </div>
      <div class="card1__author">
        <a href="" class="card1__author-avatar">
          <img src="../../../../assets/images/avatar/girl-avatar.png" alt="" />
        </a>
        <svg class="half-circle" viewBox="0 0 106 57">
          <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
        </svg>
        <div class="card1__author-name">
          <div class="card1__author-name--prefix">Author</div>
          Hazel Kour
        </div>
      </div>
    </div>
    <div class="card1">
      <div class="card-header1">
        <p>May 25th 2020</p>
        <h2>Card tricks are fun! Hi Hazel</h2>
      </div>
    </div>
    <div class="card1">
      <div class="card-header1">
        <p>May 25th 2020</p>
        <h2>Card tricks are fun! Hi Hazel</h2>
      </div>
    </div>
    <div class="card1">
      <div class="card-header1">
        <p>May 25th 2020</p>
        <h2>Card tricks are fun! Hi Hazel</h2>
      </div>
    </div>
    <div class="card1">
      <div class="card-header1">
        <p>May 25th 2020</p>
        <h2>Card tricks are fun! Hi Hazel</h2>
      </div>
    </div>
    <div class="card1">
      <div class="card-header1">
        <p>May 25th 2020</p>
        <h2>Card tricks are fun! Hi Hazel</h2>
      </div>
    </div>
    <div class="card1">
      <div class="card-header1">
        <p>May 25th 2020</p>
        <h2>Card tricks are fun! Hi Hazel</h2>
      </div>
    </div>
  </div>
</ion-content>
