<div class="grid-body">
  <h1>Auto-Fit</h1>
  <section class="basic-grid-fit">
    <div class="card">1</div>
    <div class="card">2</div>
    <div class="card">3</div>
    <div class="card">4</div>
    <!-- <div class="card">5</div>
    <div class="card">6</div>
    <div class="card">7</div>
    <div class="card">8</div>
    <div class="card">9</div>
    <div class="card">10</div>
    <div class="card">11</div>
    <div class="card">12</div> -->
  </section>
  <h1>Auto-Fill</h1>
  <section class="basic-grid-fill">
    <div class="card">1</div>
    <div class="card">2</div>
    <div class="card">3</div>
    <div class="card">4</div>
    <!-- <div class="card">5</div>
    <div class="card">6</div>
    <div class="card">7</div>
    <div class="card">8</div>
    <div class="card">9</div>
    <div class="card">10</div>
    <div class="card">11</div>
    <div class="card">12</div> -->
  </section>
</div>

<!-- Note: auto-fill and auto-fit differs only in first row;
if items move to second row there is no difference between the two -->
