//pink color #cf0056,orangered,yellowgreen
// blueviolet,palevioletred,royalblue
// goldenrod,crimson,darkslategray



$primary-color: hsl(180, 25%, 25%);

$secondary-color:hsl(180, 25%, 45%);
$tertiary-color:hsl(180, 25%, 65%);
$primary-color-dark:#46031e;

$color-success:#01a129;
$color-success-secondary:#1ac745;
$color-success-tertiary:#c2ffd1;

$color-error: red;

$color-orange: hsl(0, 26%, 57%);


$anchor-box-shadow:rgba(0, 0, 0, 0.26);
$anchor-active-box-shadow:rgba(77, 51, 51, 0.26);

$modal-background:rgba(0, 0, 0, 0.75);


$button-disabled-background:#ccc;
$button-disabled-color:#959595;

$text-bg-primary: lightgray;
$text-bg-primary-hover: darkgray;

$text-bg-primary-dark: rgb(0, 0, 0, 0.8);
$text-bg-primary-dark-hover: rgb(0, 0, 0, 0.6);


$navbar-height: 3rem;