.card {
    //FUNCTIONALITY
    perspective: calc(150rem * 5/8);
    -moz-perspective: calc(150rem * 5/8);
    position: relative;
    height: 52rem;
    /*will be 0 therefore card__side is also given same height*/
    /*To work on mozilla browsers*/
    &__side {
        height: calc(52rem * 5/8);
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden; //image in the &__picture will overflow the parent element
        // and the corners will not remain rounded
        // to fix this we use overflow hidden
        // if we use clip-path as used in &__picture than overflow also doesn't work. hence, we do the border radius manually after clip-path in &__picture
        box-shadow: 0 calc(1.5rem * 5/8) calc(4rem * 5/8) rgba($color-black, .15);


        &--front {
            background-color: $color-white;
        }
        &--back {

            transform: rotateY(-180deg);
            /*already rotated*/
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            &-2 {
                background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            &-3 {
                background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
        }
    }




    &:hover &__side--front {
        /*when card is hovered card__side must be transformed
        perspective property is always set on parent element*/
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        /*when card is hovered card__side must be transformed
        perspective property is always set on parent element*/
        transform: rotateY(0);
    } //FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: calc(23rem * 5/8);
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; // to round borders as clip-path changes our border-round property used in &__side
        &--1 {
            //blend two images
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(/img/web-pages/advanced-css/nat-5.jpg);
        }

        &--2 {
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark), url(/img/web-pages/advanced-css/nat-6.jpg);
        }

        &--3 {
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark), url(/img/web-pages/advanced-css/nat-7.jpg);
        }
    }

    &__heading {
        font-size: calc(2.8rem * 5/8);
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: calc(12rem * 5/8);
        right: calc(2rem * 5/8);
        width: 75%;

    }


    &__heading-span {
        padding: calc(1rem * 5/8) calc(1.5rem * 5/8); //padding is applied only in the start and end of the sentence even when the sentence breaks in two lines to fix we use box-decoration property
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85),
            rgba($color-secondary-dark, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom, rgba($color-primary-light, .85),
            rgba($color-primary-dark, .85));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, rgba($color-tertiary-light, .85),
            rgba($color-tertiary-dark, .85));
        }
    }

    &__details {
        padding: calc(3rem * 5/8);
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                text-align: center;
                font-size: calc(1.5rem * 5/8);
                padding: calc(1rem * 5/8);

                &:not(:last-child) {
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    } //BACK SIDE STYLING
    &__cta {
        @include absCenter; //Translate is relative to the // element width and height
        width: 90%;
        text-align: center;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: calc(8rem * 5/8);
    }

    &__price-only {
        font-size: calc(1.4rem * 5/8);
        text-transform: uppercase;
    }

    &__price-value {
        font-size: calc(6rem * 5/8);
        font-weight: 100;
    }
}
