@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  font-family: 'Roboto', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}



*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  position: relative;
//   height: 100%;
//   min-height: 100vh;
//   margin: 0;
//   padding: 0;
// 	background-color: var(--primary-color);
// 	background: linear-gradient(
// 		180deg,
// 		var(--primary-color) 0%,
// 		var(--secondary-color) 10.45%,
// 		var(--tertiary-color) 41.35%
// 	);
// font-size: 62.5% ;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}


// h1 {
// 	font-size: 2rem;
// 	margin-bottom: 0 0 1em 0;
// 	text-align: center;
// }

// h2 {
// 	font-size: 1rem;
// }

// h1,
// h2,
// p {
// 	font-weight: 400;
// 	color: var(--heading-color);
// }

// p {
// 	line-height: 1.5;
// }

@media (min-width: 400px) {
//   body {
//     font-size: 16px;
//   }
}

ul, li {
  list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
  }
  a:hover {
	text-decoration: underline;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

// @media (min-width: 720px) {
// 	h1 {
// 		font-size: 2.4rem;
// 	}
// }




//LINK GRIF ON INDEX PAGES
.link-grid li{
	display: flex;
}

.link-grid li a {
	margin-left: 1rem;
	text-decoration: none;
	// color: #a9a39f;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin-right: 0.2rem;
}
.link-grid li a:before {
	content: '';
	transition: 0.2s;
	position: absolute;
	top: calc(100% - 1px);
	left: 0;
	width: 100%;
	height: 1px;
	background: #333;
	transform: translateX(-101%);
}

.link-grid li a:focus,
.link-grid li a:hover {
	// color: #fff;
	opacity: 1;
}

.link-grid li a:focus:before,
.link-grid li a:hover:before {
	transform: translateX(0);
}

.main-index{
	padding: 1rem;
	margin:0 auto;
	width: fit-content;
}




//UTILITIES
.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}





